<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Getting Started With Vue3</title>
    <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
    <script src="https://cdn.tailwindcss.com"></script>
</head>
<body class="h-full grid place-items-center">
<div id="app" class="space-y-4">

   <section v-show="inProgress.length">
       <h2 class="font-bold mb-2">In Progress</h2>
       <ul>
           <li v-for="assignment in inProgress"
               :key="assignment.id">
               <label>
                   {{assignment.name}}
                   <input type="checkbox" v-model="assignment.completed">
               </label>
           </li>
       </ul>
   </section>
    <section v-show="completed.length">
       <h2 class="font-bold mb-2">Completed</h2>
       <ul>
           <li v-for="assignment in assignments.filter( a => a.completed )"
               :key="assignment.id">
               <label>
                   {{assignment.name}}
                   <input type="checkbox" v-model="assignment.completed">
               </label>
           </li>
       </ul>
   </section>
</div>
<script>
    let app = {

    }
    Vue.createApp(app).mount('#app')
</script>
</body>
</html>